<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
</head>
<body>
    <h1>Project</h1>
    <div>
        <a href="/">back</a>
        {{project[1]}} (created on {{project[2]}})
    </div>
    <div>
        {% for website in websites %}
        <a href="/website?id={{website[0]}}">
        {{website[2]}} (added on {{website[3]}})</a>
        </br>
        {% endfor %}
    </div>
    <div>
        <form action="/project?id={{project[0]}}" method="POST">
            <input type="text" name="name">
            <input type="submit">
        </form>
    </div>
</body>
</html>
